.container {
  width: 400px;
  height: 485px;
  background: linear-gradient(153deg, rgb(116, 56, 216), rgb(18, 150, 170) 74%);
  padding: 1px;
  color: white;
}

.main {
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: large;
}

.description {
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 40px;
}

.code {
  background: #fafafa;
  color: grey;
  border-radius: 5px;
  padding: 20px;
  font: small Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
.rateUs {
  margin-top: 90px; /* Example spacing between main content and rate us section */
  text-align: center; /* Center align the rate us section */

}

.rateUsTitle {
  font-size: 24px; /* Example larger font size for rate us title */
  margin-bottom: 10px; /* Example spacing between title and stars */
}

.stars {
  margin-bottom: 20px; /* Example spacing below stars */
}

.star {
  font-size: 24px; /* Example larger font size for stars */
  cursor: pointer; /* Pointer cursor for interactive elements */
}
.uploadButton {
  display: inline-block;
  margin-top: 30px;
  background-color: #377DFF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 2px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
}

.uploadButton:hover {
  background-color: #518EFF;
}
.resultContainer {
  text-align: center;
}

.resultTitle {
  font-size: 1.5rem;
}

.resultImage {
  max-width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  max-height: 250px; /* Set a maximum height to limit the size */
  display: block; /* Ensures proper display of the image */
  margin-top: 10px;
}
.fullScreenButton {
  background-color: #377DFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.fullScreenButton:hover {
  background-color: #518EFF;
}

.downloadButton {
  background-color: #377DFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
}

.downloadButton:hover {
  background-color: #518EFF;
}
/* styles/Pages.module.css */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

